// Noto Sans, Noto Sans JP
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// 古教会スラブ語キリル文字
[cyrs] {
  font-family: 'Monomakh Unicode', $font-family !important;
}
@font-face {
  font-family: 'Monomakh Unicode';
  src: url('https://sci.ponomar.net/fonts/MonomakhUnicode.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

// 古教会スラブ語グラゴル文字
[glag] {
  font-family: 'Shafarik', $font-family !important;
}
@font-face {
  font-family: 'Shafarik';
  src: url('https://sci.ponomar.net/fonts/Shafarik-Regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
