// Noto Sans, Noto Sans JP
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

// 古教会スラブ語キリル文字
[cyrs] {
  font-family: 'Monomakh Unicode', $font-family;
}
@font-face {
  font-family: 'Monomakh Unicode';
  src: url('https://sci.ponomar.net/fonts/MonomakhUnicode.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

// 古教会スラブ語グラゴル文字
[glag] {
  font-family: 'Shafarik', $font-family;
}
@font-face {
  font-family: 'Shafarik';
  src: url('https://sci.ponomar.net/fonts/Shafarik-Regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
