/*
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */

@import '_variables';
@import '_lib-prism-okaidia';
@import '_lib-override';
@import '_base';
@import '_counter';
@import '_font';
@import '_media';
@import '_toc';

/* and more... 🖋 */

#cover {
  break-after: page;
  h1 {
    color: #00000000 !important;
    font-size: 2rem;
    border: none;
  }
}

/* Cover page */
@page :first {
  background-image: url('cover.png');
  background-size: cover;

  @top-left-corner {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
}

section {
  h1 {
    margin: 0.67em 0em 2.5em;
    color: black;
  }
  h2, h3, h4 {
    margin: 1em 0em 0.5em;
  }
  p {
    text-indent: 1em;
    &:has(img) {
      text-align: center;
      img {
        margin: unset auto;
        width: 50%;
      }
    }
  }
  &.footnotes {
    margin: 2em 0 0;
  }
}

.section-title {
  height: 100%;
  width: 100%;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    h2 {
      text-align: center;
      font-size: 5em;
    }
  }
}
